        .titlecard {
            background: #FFB2B2;
            border-radius: 10px;
            width: 100%;
            height: 30px;
            padding: 20px ;
            margin: 0 auto;
            border: 1px solid #d78282;
            margin-bottom: 10px;
        }        
        .maincard {
            background: #FFF2D0;
            border-radius: 10px;
            width: 350px;
            height: 600px;
            padding: 20px ;
            margin: 0 auto;
            border: 1px solid #f1dca8;
        }
        .cheltuielicard {
            background: #FFB2B2;
            border-radius: 25px;
            width: 90%;
            height: 30px;
            padding: 15px ;
            margin: 5px auto;
            border: 1px solid #E36A6A;
        }
        .row {
        display: flex;           
        gap: 10px;             
        justify-content: center;
        }
         .smallcard {
            background: #E36A6A;
            border-radius: 10px;
            width: 45%;
            height: 15px;
            padding: 20px ;
            margin: 5px auto;
            border: 1px solid #E36A6A;
        }
        .actioncard {
            margin : 10px auto;
        }
        .actioncard select, .actioncard input {
            background: #FFFBF1;
            border-radius: 10px;
            width: 100%;
            height: 35px;
            margin: 9px auto;
            border: 1px solid #FFB2B2;
        } 
        .adaugacard {
            background: #FFB2B2;
            border-radius: 30px;
            width: 102%;
            height: 20px;
            padding: 20px ;
            margin: 5px auto;
            border: 1px solid #E36A6A;
            transition: 0.3s;
        }
        .adaugacard:hover {
            background: #ac4a4a;
            cursor: pointer;
            transform: scale(1.01);
        }
        .listcard li {
            list-style: none;
            background: #FFFBF1;
            border-radius: 15px;
            width: 80%;
            height: 20px;
            padding: 15px ;
            margin: 5px auto;
            border: 1px solid #FFF2D0;
        }


